<div id="ResultDiagram" class="modal fade" role="dialog">
    <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4>Diagram</h4>  
            </div>
            <div class="modal-body">
                <div class="wrapper">
                      <script src="~/Scripts/Chart.js"></script>
                      <canvas id="resultChart" ></canvas>
                </div>
                 <script src="~/Scripts/ViewModels/Diagram.js"></script>
            </div>
           <div class="modal-footer">
           
           <p>   </p>
           </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var vm = new Diagram();
        vm.refreshDatePercentage();
    });
</script>


