
@{
    ViewBag.Title = "Results";
}


<div id="Results">
    <h2>User Performance</h2>
    <table class="table">
        <thead>
            <tr>
                <th style="font-size:20px;" width="100">WorkoutName</th>
                <th style="font-size:20px;" width="100">Data</th>
                <th style="font-size:20px;" width="200">Percentage (%)</th>
                <th style="font-size:20px;" width="100">Points</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:CompletedWorkoutInstances">
            <tr>
                <td class="col-xs-5" data-bind="text:WorkoutName"></td>
                <td class="col-xs-5" data-bind="text:moment(Date).format('LL')"></td>
                <td class="col-xs-5" data-bind="text:Percentage"></td>
                <td class="col-xs-5" data-bind="text:Points"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td valign="middle" height="50" style="font-size:35px;">Total:</td>
                <td>   </td>
                <td class="col-xs-5" data-bind="text:TotalPercentage" valign="middle" height="50" style="font-size:35px;"> </td>
                <td class="col-xs-5" data-bind="text:TotalPoints" valign="middle" height="50" style="font-size:35px;"></td>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(function () {
        var vm = new Result();
        vm.refresh();
        ko.applyBindings(vm, $("#CompletedWorkoutInstances").get(0));
    });
</script>

