
@{
    ViewBag.Title = "Results";
}


<body>
    <div id="Results">
        <h2>User Performance</h2>
        <p>Username: <strong data-bind="text:UserName"></strong></p>
        

        <table class="table">
            <thead>
                <tr>
                    <th style="font-size:20px;" width="100">WorkoutName</th>
                    <th style="font-size:20px;" width="100">Data</th>
                    <th style="font-size:20px;" width="200">Percentage (%)</th>
                    <th style="font-size:20px;" width="100">Points</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:CompletedWorkoutInstances">
                <tr>
                    <td class="col-xs-5" data-bind="text:WorkoutName"></td>
                    <td class="col-xs-5" data-bind="text:moment(Date).format('LL')"></td>
                    <td class="col-xs-5" data-bind="text:Percentage"></td>
                    <td class="col-xs-5" data-bind="text:Points"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td valign="middle" height="50" style="font-size:35px;">Total:</td>
                    <td>   </td>
                    <td class="col-xs-5" data-bind="text:TotalPercentage" valign="middle" height="50" style="font-size:35px;"> </td>
                    <td class="col-xs-5" data-bind="text:TotalPoints" valign="middle" height="50" style="font-size:35px;"></td>
                </tr>
            </tfoot>
        </table>
        <div>
        <div class="wrapper">
            <script src="~/Scripts/Chart.js"></script>
            <canvas id="resultChart"></canvas>
        </div>
        <script src="~/Scripts/ViewModels/Diagram.js"></script>
        </div>
        
        <div>
        <div class="wrapper">
            <script src="~/Scripts/Chart.js"></script>
            <canvas id="resultWorkoutChart"></canvas>
        </div>
        <script src="~/Scripts/ViewModels/Diagram.js"></script>
        </div>
 </div>
</body>
<script>
    $(function () {
      var vm = new Diagram();
      vm.refreshDatePercentage();
  });
</script>

<script>
    $(function () {
        var vm = new Result();
        vm.refresh();
        ko.applyBindings(vm, $("#CompletedWorkoutInstances").get(0));
    });
</script>