@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Fitness Pro</h2>
    <p class="lead">Fitness Pro is a web application that lets you manage your workouts and get the maximum from your routines for a perfect fitness</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a new workout</h2>
        <p>
            You can create a new workout for any group of muscles you want.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Stick to your training</h2>
        <p>Manage the entire training process to be in perfect control.</p>
    </div>
    <div class="col-md-4">
        <h2>View results</h2>
        <p>Easily see the results by graphs and other visualization tools.</p>
    </div>
</div>