<div id="workoutInstanceCompleteItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Complete the workout</h4>
            </div>
            <div class="modal-body">
                <p>Name: <strong data-bind="text: WorkoutName"></strong></p>
                <p>Rounds: <strong data-bind="text: Rounds"></strong></p>
                <label for="Exercises">Exercises</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Exercise name</th>
                            <th>Number of repetitions planned</th>
                            <th>Number of repetititons executed</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:WorkoutInstanceExercises">
                        <tr>
                            <td class="col-xs-5" data-bind="text:ExerciseName"></td>
                            <td class="col-xs-5" data-bind="text:PlannedRepetitions"></td>   
                            <td><input id="ActualRepetitions" type="number" class="form-control" data-bind="value:ActualRepetitions" min="0"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-bind="click:save">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
