<div id="workoutInstanceDetailsItemCompleted" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Workout plan details</h4>
            </div>
            <div class="modal-body">
                <p>Name: <strong data-bind="text: WorkoutName"></strong></p>
                <p>Date: <strong data-bind="text:moment(Date).format('LL')"></strong></p>
                <p>Rounds: <strong data-bind="text: Rounds"></strong></p>
                <label for="Exercises">Exercises</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Exercise name</th>
                            <th>Number of repetitions planned</th>
                            <th>Number of repetitions executed</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:WorkoutInstanceExercises">
                        <tr>
                            <td class="col-xs-5" data-bind="text:ExerciseName"></td>
                            <td><strong data-bind="text: PlannedRepetitions"></strong></td>
                            <td><strong data-bind="text: ActualRepetitions"></strong></td>
                        </tr>
                    </tbody>
                </table>                 
                <div class="wrapper" width="400" height="400">
                     <script src="~/Scripts/Chart.js"></script>
                     <canvas id="ActualChart"></canvas>
                </div>
                <script src="~/Scripts/ViewModels/WorkoutInstance.js"></script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    ko.bindingHandlers.datePicker = {
        init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            // Register change callbacks to update the model
            // if the control changes.
            ko.utils.registerEventHandler(element, "change", function () {
                var value = valueAccessor();
                value(moment(element.value).format());
            });
        },
        // Update the control whenever the view model changes
        update: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var value = valueAccessor();
            element.value = moment(value()).format("YYYY-MM-DD");
        }
    };

    </script>
