<style>
    #Item3 table{
        table-layout:fixed;
        width: 100%;
       
    }

 
</style>

<div id="Item3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Workout operations</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                           
                            <th width="20%">Entity</th>
                            <th width="10%">Name</th>
                            <th width="15%">LogDate</th>
                            <th width="15%">Operation</th>
                            <th width="15%">Property</th>
                            <th width="15%">OldValue</th>
                            <th width="10%">NewValue</th>
        
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:Logs">
                        <tr>
                            <td  class="col-xs-5" data-bind="text:EntitieTypes"></td>
                            <td  class="col-xs-5" data-bind="text:ExerciseName"></td>
                            <td  class="col-xs-5" data-bind="text:moment(LogDate).format('LL') "></td>
                            <td  class="col-xs-5" data-bind="text:OperationTypes"></td>
                            <td  class="col-xs-5" data-bind="text:Property"></td>
                            <td  class="col-xs-5" data-bind="text: OldValue">
                               <!-- <textarea id="OldValue" type="text" data-bind="value: OldValue"></textarea>-->
                            </td>
                            <td class="col-xs-5" data-bind="text: NewValue">
                                <!--  <textarea id="NewValue" type="text" data-bind="value: NewValue"></textarea>-->
                            </td>
                        </tr>

                    </tbody>
                    </table>
           </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
