<div id="workouts">
    <h2>Workouts</h2>
    <input type="button" value="New" class="btn btn-primary" data-toggle="modal" data-target="#workoutItem" data-bind="click:add" />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Workouts">
            <tr>
                <td class="col-xs-5" data-bind="text:Name"></td>
                <td class="col-xs-5" data-bind="text:Description"></td>
                <td class="col-xs-5" data-bind="text:TypeDisplay"></td>
                <td class="col-xs-1">
                    <input type="button" value="Details" class="btn btn-info" data-toggle="modal" data-target="#workoutItem" data-bind="click:$parent.details" />
                </td>
                <td class="col-xs-1">
                    <input type="button" value="Delete" class="btn btn-danger" data-bind="click:$parent.delete" />
                </td>
                <td class="col-xs-1">
                    <input type="button" value="Exercises" class="btn btn-info" data-toggle="modal" data-target="#workoutItem1" data-bind="click:$parent.getExercises" />
                </td>
                <td class="col-xs-1">
                    <input type="button" value="Log" class="btn btn-info" data-toggle="modal" data-target="#Item3" data-bind="click:$parent.getEntityDetails" />
                </td>
              
            </tr>
        </tbody>
    </table>
    @Html.Partial("Item")
    @Html.Partial("Exercises")
    @Html.Partial("Item3")
</div>
<script>
    $(function () {
        var vm = new Workout();
        vm.refresh();
        ko.applyBindings(vm, $("#workouts").get(0));
    });
</script>
