<div id="workoutNewEx" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:hideNewExercise">&times;</button>
                <h4 class="modal-title">New ex</h4>
            </div>
            <div id="errordivex" style="color:#cc0000; text-align:center;font-weight: bold">

            </div>
            <div class="modal-body">
                <label for="Name">Name</label>
                <input id="Name" type="text" class="form-control" data-bind="value: ExName">
                <label for="Description">Description</label>
                <textarea id="Description" type="text" class="form-control" data-bind="value: ExDescription" rows="5" cols="50"></textarea>
                <label for="Repetitions">Repetitions</label>
                <input id="Repetitions" type="number" class="form-control" data-bind="value: Repetitions">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click:saveEx">Save</button>
                <button type="button" class="btn btn-default" data-bind="click:hideNewExercise">Cancel</button>
            </div>
        </div>
    </div>
</div>

